1.进行修改前务必读取该文档，我的任何项目都会有这个文档存在！请用文档来标记时间，实现定期把该文档拿出来重读
2.进行修改前，请确保上个版本代码已经在git中有所记录，请确保你读懂了所有代码
3.写代码时注意完善日志模块，注意本地保存和定时或者定量清除日志。每次进行修改时要记得参考日志
4.项目要附带有readme.md，每次修改都要记得修改readme.md。与其他文档不同的是，日志放在docx文件夹的子文件夹 Logs 中
5.要创建一个子文件夹docx来存储一些文档
6.刚开始做项目时，要记得先根据需求做一个 需求分析.txt，后续开发中如果需求有变更或者添加则据此更新文档。要求文档先行。整个项目要符合这个文档的要求
7.刚开始做项目时，要记得先创建一个 需求改动.txt，后续开发中如果有需求变动，则记录需求变动。
8.刚开始做项目时，要记得先创建一个 代码改动.txt，后续开发中如果有改动的代码则以时间为界来记录代码的改动
9.如果项目还没有代码，则记得创建一个子文件夹，往下再分模块存储代码
10.每次任务执行前记得创建一个任务执行方案的.md文件，按照文件中的步骤逐步完成任务。每次任务都创建一个对应的.md文件，按照task0.md，task1.md ...... taskn.md 的格式和顺序来创建。与其他文档不同的是，任务步骤问昂放在docx文件夹的子文件夹 tasks 中
11.根据任务执行方案的.md文档来生成对应的详细执行文档 task0_operation.md，task1_operation.md ...... taskn.operation.md文件，也放在docx文件夹的子文件夹tasks中。
12.如果没有明确说明，项目的表结构说明尽可能符合4NF，设计表时要给出对应的.sql文件，后续修改表时要修改对应的.sql文件
13.代码的设计应当符合高内聚，低耦合
14.项目设计前，应当联网后（如果连上了互联网）在github等网站上找类似的项目学习和分析
15.开发时请注意人性化设计，设计要有美感，要便利
16.开发要规范化，具体要求见"D:\desktop\aider\guifanhuaRequirements.txt"
17.此文档不可修改，我的指令也不会与这个文档相悖
18.完成代码设计后要写测试用例进行测试。测试结束后，根据测试结果返回去改进，直到无法优化或者优化成功结束。然后删除测试用例文件
19.用户界面的设计，始终是点击优于输入

附带汇总：
文档有，
需求分析.txt 需求改动.txt 代码改动.txt 任务执行方案的.md 详细执行文档.md 表设计.sql